<template name="config">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <h4>Remotes</h4>
                {{> quickForm collection="Remotes" id="insertConfigurationForm" type="insert"}}
            </div>
            <div class="col-md-3">
                <h4>Repositories</h4>

                <table class="table" id="repos">
                    <thead>
                    <th>Project</th>
                    <th>Repository</th>
                    <th>Monitor</th>
                    </thead>
                    {{#each repositories}}
                        <tr>
                            <td>{{project}}</td>
                            <td>{{name}}</td>
                            <td>
                                {{#if monitor}}
                                    <input class="monitor" type="checkbox" checked="checked">
                                {{else}}
                                    <input class="monitor" type="checkbox">
                                {{/if}}
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </div>
            <div class="col-md-3">
                <h4>Jobs</h4><button id="jobsReload" class="btn btn-default btn-xs">Reload</button>

                <table class="table" id="jobs">
                    <thead>
                    <th>Name</th>
                    <th>Monitor</th>
                    </thead>
                    {{#each jobs}}
                        <tr>
                            <td>{{name}}</td>
                            <td>
                                {{#if monitor}}
                                    <input class="monitor" type="checkbox" checked="checked">
                                {{else}}
                                    <input class="monitor" type="checkbox">
                                {{/if}}
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4>Current remotes</h4>
                <table class="table table-condensed table-hover">
                    <thead>
                      <th>Type</th>
                      <th>Username</th>
                      <th>Url</th>
                      <th>RefreshRate</th>
                      <th>Actions</th>
                    </thead>
                    <tbody>
                    {{#each remotes}}
                        <tr>
                            <td>{{type}}</td>
                            <td>{{username}}</td>
                            <td>{{url}}</td>
                            <td>{{refreshRateInSeconds}}</td>
                            <td>
                                <button class="btn btn-danger removeRemote btn-sm" id="{{_id}}">&times;</button>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
