<template name="config">
    <div class="container">
    {{> quickForm collection="Remotes" id="insertConfigurationForm" type="insert"}}


    <table class="table">
        <thead>
          <th>Type</th>
          <th>Username</th>
          <th>Url</th>
          <th>RefreshRate</th>
          <th>Actions</th>
        </thead>
    {{#each this}}
        <tr>
            <td>{{type}}</td>
            <td>{{username}}</td>
            <td>{{url}}</td>
            <td>{{refreshRate}}</td>
            <td><button class="btn btn-danger removeRemote" id="{{_id}}" >&times;</button></td>
        </tr>
    {{/each}}

    </table>
  </div>
</template>
